body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  justify-content: center;
  padding: 20px auto;
}

.input label {
  font-size: 14px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-title {
  color: rgb(85, 10, 85);
  font-weight: bold;
  margin-top: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

.list ul {
  padding-left: 20px;
}

.item {
  display: flex;
  flex-direction: row;
}

.item-name {
  width: 120px;
}

.delete-icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url(./assets/delete-black.png) ;
  background-size: 18px 18px;
}

.delete-icon:hover {
  background-image: url(./assets/delete-red.png) ;
}