body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  justify-content: center;
  padding: 20px auto;
}

.empty {
  font-style: italic;
  color: grey;
  text-align: center;
  margin: 20px 0px;
}

.no-display {
  display: none;
}

.item-form input {
  width: 140px;
  height: 19px;
  border-radius: 3px;
  border: 0.5px solid rgb(169, 169, 169);
  padding-left: 5px;
}

.item-form button {
  cursor: pointer;
  height: 22px;
  border-radius: 3px;
  border: 1px solid rgb(86, 65, 162);
  background-color: rgb(86, 65, 162);
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-title {
  color: #2b2068;
  font-weight: bold;
  margin-top: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

.list ul {
  padding-left: 20px;
}

.item {
  display: flex;
  flex-direction: row;
}

.item-name {
  width: 120px;
}

.delete-icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url(./assets/delete-black.png) ;
  background-size: 18px 18px;
}

.delete-icon:hover {
  background-image: url(./assets/delete-red.png) ;
}